.wp-block-mn-custom-block-quote-custom-quote-block{
    position: relative;
    border-radius: 20px;
    text-align: left;
    padding: 20px 30px;
    margin: 20px 0;
}

.wp-block-mn-custom-block-quote-custom-quote-block.is-style-green{
    background: rgba(57,209,180,.12);
}


.wp-block-mn-custom-block-quote-custom-quote-block.is-style-line{
    /*background: none !important;*/
    color: rgba(0,0,0,.75) !important;
    border-left: 4px solid rgba(0,0,0,.75) !important;
    border-radius: 0 !important;
    padding: 0 1.5rem !important;
    font-weight: 500 !important;
    margin: 30px !important;
}

.wp-block-mn-custom-block-quote-custom-quote-block.is-style-none{
    /*background: none !important;*/
    font-family: Kanit;
}

.wp-block-mn-custom-block-quote-custom-quote-block blockquote {
    background: none;
}


.wp-block-mn-custom-block-quote-custom-quote-block.is-style-green blockquote {
    font-weight: 500;
    color: rgba(0,0,0,0.75);
    font-size: 22px;
    line-height: 37px;
}

.wp-block-mn-custom-block-quote-custom-quote-block.is-style-normal blockquote {
    font-weight: 300;
    color: rgba(0,0,0,0.75);
    font-size: 22px;
    line-height: 37px;
    font-style: italic;
}

.wp-block-mn-custom-block-quote-custom-quote-block.is-style-line blockquote {
    font-weight: 500;
    color: rgba(0,0,0,0.75);
    font-size: 22px;
    line-height: 37px;
}

    

.wp-block-mn-custom-block-quote-custom-quote-block cite {
    color: #5f5d7e;
    opacity: .6;
    margin: 10px 0 0;
    font-size: 16px;
}
